<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<ng-container>
    <mat-form-field>
        <mat-select placeholder="Filter par type de produit"
                    multiple (selectionChange)="displayData($event.value)"
                    [(ngModel)]="selectedProductsId"
                    #productIdSelect="ngModel">
            <button
                    mat-raised-button
                    class="mat-warn fill text-sm"
                    (click)="emptyFilter(productIdSelect,ids)">
                Supprimer filtre
            </button>
            <mat-option *ngFor="let product of productListType" [value]="product.PRODUCTS_id">{{product.PRODUCTS_title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox id="productCheckbox" color="primary" [checked]="checkedProduct" (change)="changeProductList($event.checked)">Mes produits</mat-checkbox>
</ng-container>
<div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>


            <!-- Progress Column -->
            <ng-container matColumnDef="PRODUCT_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du produit</th>
                <td mat-cell *matCellDef="let row"> {{row.PRODUCT_name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="PRODUIT_TYPE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de produit</th>
                <td mat-cell *matCellDef="let row"> {{row.PRODUIT_TYPE}}</td>
            </ng-container>

            <ng-container matColumnDef="PRODUCT_QUANTITY">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité</th>
                <td mat-cell *matCellDef="let row">
                    {{row.PRODUCT_QUANTITY}}
                </td>
            </ng-container>

            <ng-container matColumnDef="PRODUCT_COMMENT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Commentaire</th>
                <td mat-cell *matCellDef="let row">
                    {{row.PRODUCT_COMMENT}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    Actions
                </th>
                <td mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="primary" (click)="startEdit(row.PRODUCT_id, row.PRODUCT_name, row.PRODUCT_QUANTITY, row.PRODUCT_COMMENT)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button *ngIf="row.PRODUCT_QUANTITY > 0" mat-icon-button color="primary" (click)="deleteItem(row.PRODUCT_id)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    <div class="no-results" [style.display]="paginator._length == 0? '' : 'none'">
        Pas de résultats pour cette recherche
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
