<app-topnav></app-topnav>
<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <img _ngcontent-c13="" src="../../../images/logo-black.png" style="width:520px;" >
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input type="text" class="form-control" formControlName="email" matInput placeholder="Email" >
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="password"  class="form-control" matInput type="password" placeholder="Mot de passe">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Se rappeler de moi</mat-checkbox>
                </div>
                <div fxFlex fxLayoutAlign="end">
                    <a href="javascript:void(0)">Mot de passe oublié</a>
                </div>
            </div>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required" class="error">Le mail est requis</div>
                    <div *ngIf="f.email.errors.email" class="error">Le champ email n'est pas valide</div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required" class="error">Le mot de passe est requis</div>
                    <div *ngIf="f.password.errors.minlength" class="error">Le mot de passe doit contenir au moins 5 caractères</div>
            </div>
            <div *ngIf="submitted && showError" class="error">
                Login ou mot de passe incorrect
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button type="submit" mat-raised-button color="primary" class="w-100">Connexion</button>
                </div>
            </div>
            <br/>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onSignOn()">Inscription</button>
                </div>
            </div>
        </form>
    </div>
</div>
