<h3 mat-dialog-title>Modifier le produit {{data.productName}}</h3>
<form [formGroup]="form" (ngSubmit)="handleData(form.value, data.productId)">
    <mat-dialog-content>
<p>
    <mat-label>Id Produit</mat-label>
    <input matInput disabled placeholder="Placeholder" value="{{data.productId}}">
</p>
<p>
    <mat-label>Nom du produit</mat-label>
    <input matInput placeholder="Placeholder" value="{{data.productName}}" disabled>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Quantité</mat-label>
    <input matInput type="number" formControlName="quantity" min="0" value="{{data.quantity}}">
  </mat-form-field>
</p>
  <mat-form-field style="width: 60%">
                        <textarea formControlName="remark" matInput placeholder="Ajouter un commentaire"
                                  value="{{data.comment}}"></textarea>
  </mat-form-field>
    </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="submit" [disabled]="!form.valid">Valider</button>
  <button mat-button type="button"(click)="closePopup(0)" tabindex="-1">Annuler</button>
</mat-dialog-actions>
</form>
