<app-topnav></app-topnav>
<div class="layout-accueil">
<div class="accueil-page">
<h1>OMealShop : Organiser votre liste de course en fonction de vos repas</h1>

    <h1>Bienvenue sur OMealShop</h1>
    <p>
  OMealShop est un site vous permettant de gérer vos listes de courses plus facilement directement en ligne en la partageant avec votre foyer.</p>

    <p> Vous pouvez planifier vos repas des semaines à venir en choisissant le nombre de personnes pour chaque repas et ainsi mieux gérer votre liste de courses. Les repas peuvent être choisis parmi la liste des repas déjà présent sur OMealShop (que vous pourrez éditer à votre convenance) ou parmi la liste des repas que vous aurez créé.</p>

  <p>Vous pouvez également ajouter des produits sur votre liste de courses comme par exemple les produits d'entretiens ou des ingrédients de façon individuelle.

      Lorsque vous partez faire vos courses vous n'avez plus qu'à sélectionner une date de début et une date de fin qui correspond à la période pour laquelle la liste de courses va être générée avec les repas planifiés.</p>
      <p>Vous avez alors votre liste de course avec tous les repas planifiés ainsi que tous les produits ou ingrédients que vous aurez pu ajouter. Lorsque vous les avez mis dans votre caddie il suffit de cliquer sur l'item et il disparaît de votre liste.</p>

    <p>OmealShop c’est déjà plus de 1600 produits alimentaire et plus de 500 produits non alimentaire référencés.</p>

</div>
</div>