.accueil-page{
  max-height: 100%;
  margin: 0 auto;
  width:50%;
}

.layout-accueil{
  margin-top: 64px;
  background-color: #ffd7b5;
  height: 100%;
  overflow-y: hidden;
}

h1{
  text-align: center;
}

p{
  font-size: 13pt;
}